body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
.Top-banner{
    padding: 80px 0px;
    width:100%;
    height: 500px;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
}
.top-title{
    margin-top:50px;
    text-align: center;
    color: rgb(126, 0, 0);
    font-weight: bold;
    font-size: 60px;
}
.top-banner-content{
    text-align: center;
    color: white;
}
.top-banner-content p{
    margin-bottom: 60px;
}
.banner-btn{
    background-color: tomato;
    color: white;
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 15px;
}
.donation{
   
text-align: center;
margin: 10px 20px;
padding-top: 50px;
}
.donate-title{
    font-size: 40px;
  font-family:sans-serif;
  font-weight: 800;
}
.donation-container{
   
    margin: 2% 20%;
    padding: 20px 10px;
    width: 60%;
    display: flex;
    justify-content:space-evenly;

}
.donation-amount{
    width: 122px;
    height: 120px;
    background-color:aliceblue;
   border-radius: 5px;
}
.amount{
    text-align: center;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 800;
}
#two-hundrade{
    background-color: rgb(255, 206, 214);
    border: 2px solid red;
}
.confirm-donation{
    width: 60%;
    height: 150px;
    margin: 2% 20%;
    padding: 30px 10px;
    text-align: center; 
}
.confirm-donation input{
   border-style: hidden;
   border-bottom: 1px solid gray;
    
    width: 80%;margin-bottom: 50px;
    text-align: center;
    font-size: 15px;
}
.donate-plan-area{
    width: 85%;
    margin: 2% 7%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
}
.donate-plan{
    width: 25%;
    padding: 50px 25px;
    border-radius: 5px;
  
}
.plan-title{
    font-size: 20px;
    font-weight: 900;
}
#food-plan{
    background-color: rgb(199, 247, 253);
}
#shelter-plan{
    background-color:peachpuff;
}
#education-plan{
    background-color:antiquewhite;
}